<div th:fragment="autocomplete">
    <!-- JQuery for Autocomplete -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script type="text/javascript">

        $(function() {
            $("#Search_Term").autocomplete({
               source: "gameNamesAutocomplete",
                minLength: 3,
                select: function(event, ui) {
                   this.value = ui.item.label;
                   $("#Game_Id").val(ui.item.value);
                   return false;
                }
            });
        });
    </script>
</div>
