<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:replace="fragments/initializeFirebase :: initializeFirebase"></div>


    <div class="navbar navbar-dark bg-primary">
        <a class="centered" href="/">
            <img class="centered" src="/logo.png">
        </a>
    </div>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <div id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-layout" id="navMenu">

                </ul>
            </div>
            <div id="navSearch">
                <form class="d-flex" action="#" th:action="@{/games}" method="GET">
                    <input class="form-control me-2 nav-width" id="Search_Term" type="search" placeholder="Search Games" aria-label="Search" name="searchTerm">
                    <button style="margin-left: 6px" class="btn btn-outline-light" type="submit">Search</button>

                </form>
            </div>
            <div id="loginBtn" style="display: none">
                <a id = "loginHref" href="/login">
                    <button id = "login_Btn" style="margin-left: 6px" class="btn btn-outline-light">Log In</button>
                </a>
            </div>
        </div>
    </nav>
</div>