<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/availability.css" type="text/css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>TableTalk</title>
</head>
<body>
<!-- testing proof of concept -->
<p th:text="${game}"/>
<div th:replace="fragments/navbar :: navbar">
</div>


<div id="timeSheet">
    <div>
        <form>
            <div class="page-header">
                <h2>Pick the days and times you'd be available to play</h2>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <select id="day" class=" form-control">
                        <option selected>Sunday</option>
                        <option>Monday</option>
                        <option>Tuesday</option>
                        <option>Wednesday</option>
                        <option>Thursday</option>
                        <option>Friday</option>
                        <option>Saturday</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <select id="period1" class="form-control">
                        <option selected>After</option>
                        <option>Before</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <select id="time1" class="form-control">
                        <option selected>12:00pm</option>
                        <option>1:00pm</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <p class="align-middle text-center">AND</p>
                </div>
                <div class="form-group col-md-2">
                    <select id="time2" class="form-control">
                        <option selected>10:00pm</option>
                        <option>1:00pm</option>
                    </select>
                </div>

                <div id="checkbox" class="form-group col-md-2">
                    <div class=" text-center custom-control custom-checkbox checkbox-xl">
                        <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                        <label class="custom-control-label" for="checkbox-3"><strong>Repeat?</strong></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add Another Time</button>
            </div>
        </form>


    </div>
</div>


<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
