<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/%22%3E">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/main.css" type="text/css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>TableTalk</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar">
</div>

<div class="list-group" th:each="game : ${games}">
    <a th:href="@{/Game/{id}/(id=${game.id})}" class="list-group-item list-group-item-action">
        <p th:text="${game.name}"/>
    </a>
</div>

</body>
</html>