<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/main.css" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TableTalk</title>
</head>
<body>
    <div th:replace="fragments/reusable-components :: navbar">
    </div>
    <div class="container" style="margin-top: 32px">
        <div class="row align-items-start">
            <div class="card">
                <img src="/monopoly.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Monopoly</h5>
                    <p class="card-text">Real-estate board game, in which the player's goal is to remain financially solvent while forcing opponents into bankruptcy by buying and developing pieces of property.</p>
                    <p>
                        <img src="/icons/people-outline.svg" class="svg">
                        2 - 8
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <div class="card">
                <img src="/life.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Game of Life</h5>
                    <p class="card-text">Also known simply as Life, the game simulates a person's travels through his or her life, from college to retirement, with jobs, marriage, and possible children along the way.</p>
                    <p>
                        <img src="/icons/people-outline.svg" class="svg">
                        2 - 6
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <div class="card">
                <img src="/sorry.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sorry!</h5>
                    <p class="card-text">Based on the ancient Indian cross and circle game Pachisi. Players move their three or four pieces around the board, attempting to get all of their pieces "home" before any other player.</p>
                    <p>
                        <img src="/icons/people-outline.svg" class="svg">
                        2 - 4
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
