.left-col {
    width: 30%;
}

.spacer {
    height: 64px;
}

.spacer-sm {
    height: 24px;
}

.auto-left-margin {
    margin-left: auto !important;
}

.btn {
    width: 100%;
}

.btn-primary {
    color: #fff !important;
}

.img-wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.back-btn {
    width: 124px;
}